@font-face {
    font-family:'SpaceGrotesk-Regular';
    src: url('../fonts/SpaceGrotesk-Regular-BF65712b4fdc934.ttf') format("TrueType");
}
@font-face {
    font-family: 'SpaceGrotesk-Medium';
    src: url('../fonts/SpaceGrotesk-Medium-BF65712b4fd0ef9.ttf')  format("TrueType");
}